.contactDiv {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contactDiv h2{
  padding: 0 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #333, 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 45%;
  margin: auto;
  padding: 20px 0;
}

.contactForm input,
label,
textarea,
button {
  width: 80%;
  padding: 10px;
}

.contactForm input,
textarea {
  background-color: #ececec;
  border: none;
  color: #333;
  resize: none;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 4px #555;
}

.contactForm button {
  margin: 50px 0;
  transition: 0.1s ease-in-out;
}

.contactForm button:active {
  background-color: #444444;
}

@media screen and (max-width: 480px) {
  .contactForm {
    width: 100%;
    border-radius: 0;
  }
}